*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif; 

    /* Not all version supports all fonts. If Arial is not available then sans-serif. */
}

h1{
    color: aquamarine !important;
    z-index: 1; /* This is used to set the stack order of an element. Higher values are in front of lower values. */

}

.box{

    color: brown;

    border: 2px solid black;
    
    margin: 100px 10px 10px;
    
    
    /* margin: top right bottom left */
    padding: 10px;

    width: 300px;

    
}



